.border-left-primary {
    border-left: .25rem solid var(--bs-primary) !important;
}

.border-bottom-primary {
    border-bottom: .25rem solid var(--bs-primary) !important;
}

.border-left-secondary {
    border-left: .25rem solid var(--bs-secondary) !important;
}

.border-bottom-secondary {
    border-bottom: .25rem solid var(--bs-secondary) !important;
}

.border-left-success {
    border-left: .25rem solid var(--bs-success) !important;
}

.border-bottom-success {
    border-bottom: .25rem solid var(--bs-success) !important;
}

.border-left-info {
    border-left: .25rem solid var(--bs-info) !important;
}

.border-bottom-info {
    border-bottom: .25rem solid var(--bs-info) !important;
}

.border-left-warning {
    border-left: .25rem solid var(--bs-warning) !important;
}

.border-bottom-warning {
    border-bottom: .25rem solid var(--bs-warning) !important;
}

.border-left-danger {
    border-left: .25rem solid var(--bs-danger) !important;
}

.border-bottom-danger {
    border-bottom: .25rem solid var(--bs-danger) !important;
}
